body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover {
    background-color: blue;

    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 800px;
    height: 1000px;
}

#top_screen {
    background-color: lightblue;

    width: 90%;
    height: 10%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom_screen {
    background-color: lightcoral;

    width: 90%;
    height: 80%;
    margin: 0 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

#display {
    background-color: lightcyan;

    height: fit-content;
    width: 90%;
    font-size: 40px;
}

.key_pad {

    font-size: 80px;
}